<tr>
    <td>{{metier.name}}</td>
    <td>{{metier.nbEmploye}}</td>
    <td>
        <a href={{path('form_page')}} class="btn btn-info btn-sm">
            <i class="fa fa-pencil mr-0"></i>
        </a>
    </td>
</tr>