<tr>
    <td>{{metier.name}}</td>
    <td>{{metier.nbEmploye}}</td>
    <td>
        <a href={{path('metier_edit',{'id' : metier.id})}} class="btn btn-info btn-sm">
            <i class="fa fa-pencil mr-0"></i>
        </a>
        {% if metier.nbEmploye == 0 %}
        <a href={{path('metier_delete',{'id' : metier.id})}} class="btn btn-danger btn-sm">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
        {% endif %}

    </td>
</tr>